<ion-view view-title="Info">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Step 1
      </div>
      <div class="item item-text-wrap">
        Check label for <strong>GLUTEN FREE</strong> or <strong>CONTAINS WHEAT</strong> in ingredients.
      </div>
      <div class="item item-divider">
        Step 2
      </div>
      <div class="item item-text-wrap">
        Enter Barcode or click Use Barcode Scanner to use scanner.
      </div>
      <div class="item item-divider">
        Step 3
      </div>
      <div class="item item-text-wrap">
        Wait for Gluten Status info to come back
      </div>
      <div class="item item-divider">
        Products Page
      </div>
      <div class="item item-text-wrap">
        Scroll through the list of common products that might contain hidden gluten and Please add to the list!
      </div>
      <div class="item item-divider">
        Disclaimer
      </div>
      <div class="item item-text-wrap">
        <small>**THE CONTENTS OF THE GLUTEN TRACKER APP, SUCH AS TEXT, GRAPHICS, IMAGES, AND OTHER MATERIAL CONTAINED. GLUTEN TRACKER APP ("CONTENT") ARE FOR INFORMATIONAL PURPOSES ONLY. THE CONTENT IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. ALWAYS SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER WITH ANY QUESTIONS YOU MAY HAVE REGARDING A MEDICAL CONDITION. NEVER DISREGARD PROFESSIONAL MEDICAL ADVICE OR DELAY IN SEEKING IT BECAUSE OF SOMETHING YOU HAVE READ ON THE GLUTEN TRACKER APP**</small>
      </div>
    </div>
  </ion-content>
</ion-view>
