<ion-view view-title="Gluten Tracker">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
      <form ng-submit="getInfo(barcode)">
        <div class="list">
          <div class="item item-input-inset inputBackground">
            <label class="item-input-wrapper itemInput">
              <input type="text" placeholder="Enter 12-digit Barcode" ng-model="barcode">
            </label>
            <button class="button button-small" id="submitButton">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <button ng-click="scanBarcode()" class="button button-full button-dark icon-right ion-qr-scanner" id="scanButton">
       Use Barcode Scanner
    </button>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="item item-divider">
          Brand
        </div>
        <div class="item item-text-wrap itemText">
          {{brand_name}}
        </div>
        <div class="item item-divider">
          Item
        </div>
        <div class="item item-text-wrap itemText">
          {{item_name}}
        </div>
        <div class="item item-divider" id="glutenStatusText">
          Gluten Status
        </div>
        <div class="item item-text-wrap itemText" id="glutenStatusMessage">
          {{message}}
        </div>
        <div class="item item-divider">
          Gluten Ingredient
        </div>
        <div class="item item-text-wrap itemText">
          <div ng-repeat="ingredient in glutenIngredients">{{ingredient}}</div>
        </div>
        <div class="item item-divider">
          Potential Problem Ingredient
        </div>
        <div class="item item-text-wrap itemText" >
          <div ng-repeat="mIngredient in problemIngredients">{{mIngredient}}</div>
        </div>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
